@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Georgia';
  src: local("Georgia"), url("../fonts/GEORGIA.ttf") format("ttf");
}

body {
  background: #e6c5d5;
  width: 100%;
  font-family: Georgia;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 46px 15px 0 15px;
}

.first_p {
  font-size: 20px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  padding-left: 50%;
}

.firstBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.secondBlock {
  height: 450px;
  position: relative;
  padding-top: 15px;
}

.secondBlock :first-child {
  z-index: 5;
  position: relative;
  padding-left: 50px;
}

.secondBlock .photo3 {
  z-index: 1;
  position: absolute;
  bottom: 30px;
  right: 0;
}

.secondBlock p {
  padding: 25px 0 0 15px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.heart1 {
  display: block;
  margin: 60px auto;
}

.second_p {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  float: right;
}

.thirdBlock {
  position: relative;
  margin-top: 170px;
}

.thirdBlock img {
  display: inline-block;
  margin: 0 auto;
}

.thirdBlock .heart3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fourthBlock {
  width: 100%;
  padding-bottom: 70px;
}

.third_p,
.fourth_p {
  font-size: 40px;
  display: flex;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.fourth_p {
  padding: 15px 0 20px 30%;
}

.heart4 {
  float: right;
  transform: translateY(100%);
}

@media (max-width: 520px) {
  .first_p {
    padding-left: 10%;
    max-width: 250px;
  }

  .firstBlock {
    align-items: flex-start;
    padding-top: 20px;
  }

  .firstBlock img {
    padding: 50px 0 0 50px;
  }

  .heart2,
  .heart3 {
    display: none;
  }
}

@media (max-width: 480px) {
  .secondBlock p {
    font-size: 12px;
    padding: 15px 0 0 0px;
  }

  .second_p {
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .secondBlock :first-child {
    padding-left: 0px;
  }
}

@media (max-width: 450px) {
  .thirdBlock img {
    max-width: 90%;
  }
}

@media (max-width: 400px) {
  .secondBlock img {
    transform: scale(0.9);
  }

  .secondBlock .photo3 {
    right: -10px;
    bottom: 50px;
  }
}

@media (max-width: 374px) {
  .secondBlock p {
    padding: 35px 0 0 0px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 520px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 470px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 374px){

@supports (-webkit-appearance:none){

}

}
